body{
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;

}
.header-block{

    background: #FFFBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 96px;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span{
        color: #78350F;
        font-size: 32px;
        font-weight: bold;
    }
    ul{
        list-style-type: none;
        color: #78350F;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
       li{
           margin: 0 25px 0 0;
           cursor: pointer;
       }
    }

}
.btn-item{
    width: 148px;
    height: 48px;
    border: 2px solid #78350F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #78350F;
    font-weight: 500;
    cursor: pointer;
}

.banner-container{
    background: #FFFBEB;
    padding: 0 80px;
    background: linear-gradient(to top left, rgba(254, 243, 199) 50%, #FFFBEB 50%);

    .top-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            font-size: 72px;
            margin: 0;
        }
        p{
            width: 70%;
            font-size: 18px;
            font-weight: 400;
            margin: 40px 0 32px;
        }
        .btn-block{
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .btn-watch{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #78350F;
            font-size: 16px;
            margin: 0 0 0 16px;
            svg{
                margin: 0 5px 0 0;
            }
        }
    }
    .bottom-block{
        margin: 60px 0 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 30px;
        .bottom-item{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0 20px 0 0;
            img{
                width: 90px;
                height: 90px;
                object-fit: contain;
            }
            span{
                color: #0F172A;
                font-size: 20px;
                margin: 10px 0 0;
                font-weight: 500;
            }
            p{
                color: #0F172A;
                font-size: 18px;
            }

        }
    }

}
.purchase-container{
    background: #0F172A;
    padding: 0 80px 80px;

    h2{
        font-size: 56px;
        font-weight: 800;
        color: #FFFFFF;
    }
    .btn-item{
        width: 233px;
        height: 64px;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 700;
    }
    .purchase-block{
        display: flex;
        align-items: center;
        justify-content: center;
        .purchase-item{

            position: relative;
            border-radius: 10px;
            box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
            box-shadow: 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
            width: 33%;
            margin: 0 20px;
            .img-item{
                width: 100%;
                height: 220px;
                margin: 0 0 32px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px 10px 0 0;
                }
            }
            span{
                font-size: 24px;
                color: #FFFFFF;
                padding: 0 32px;

            }
            p{
                font-size: 18px;
                color: #FFFFFF;
                padding: 0 32px;
            }
            .buy-now-item{
                cursor: pointer;
                color: #ffffff;
                font-size: 24px;
                border: 1px solid #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 56px;
                border-radius: 8px;
                margin: 0 32px 30px ;


                svg{
                    margin: 0 8px 0 0;
                }
            }
        &:nth-child(1){
            position: relative;
            z-index: 2;
            background: #0F172A;
            &:before{
                border-radius: 50px 0px 0px 50px;
                position: absolute;
                left: -30px;
                bottom: 30px;
                content: "";
                width: 30px;
                height: 50%;
                background: #BE185D;
                z-index: 0;
            }

        }
            &:nth-child(2){
                position: relative;
                z-index: 2;
                background: #0F172A;
                &:before{
                   border-radius: 30px;
                    position: absolute;
                   left: -15px;
                    top: -20px;
                    content: "";
                    width: 100px;
                    height: 100px;
                    background: #0369A1;
                    z-index: -1;
                }

            }
            &:nth-child(3){
                position: relative;
                z-index: 2;
                background: #0F172A;
                &:before{
                    border-radius: 0 0 50px 50px;
                    position: absolute;
                    left: 25%;
                    bottom: -30px;
                    content: "";
                    width: 50%;
                    height: 30px;
                    background: #A21CAF;
                    z-index: 0;
                }
                &:after{
                    border-radius: 0 50px 50px 0px;
                    position: absolute;
                    right:-30px;
                    top: 10%;
                    content: "";
                    width: 30px;
                    height: 50%;
                    background: #15803D;
                    z-index: 0;
                }

            }
        }
    }
}
.join-container{
    background: #FFFCF2;
    padding: 80px;
    .join-block{
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
        padding:  20px;

        max-height: 496px;

    }
    .img-item{
        img{
            cursor: pointer;
            width: 100%;
        }

    }
    .info-block{
        h2{
            font-size: 56px;
           font-weight: 800;
        }
        ul{
            list-style-type: none;
            padding: 0;
            li{
                font-size: 20px;
                margin: 0 3px 0 0;
            }
        }
    }
}


.slider-root{
    height: 700px;
    background: #FFFDF6;
    h2{
        font-size: 56px;
        font-weight: 800;
    }
    .slider-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        .previous-btn{
            cursor: pointer;
        }
        .next-btn{
            margin: 0 0 0 8px;
            cursor: pointer;
        }
    }
    .top-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 80px;
    }
}

.slider-container{
    background: rgba(253, 230, 138, 1);
    height: 421px;
    overflow: hidden;
    width: 100%; /* Genişlik ayarı */

    .slider-block {
        padding: 30px 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: transform 0.3s ease; /* Kayma animasyonu */
        .slider-item{
            box-sizing: border-box;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.07);
            border-radius: 20px;
            width: 384px;
            min-width: 384px;
            height: 430px;
            max-height: 430px;
            background: #FFFFFF;
            padding: 32px;
            margin: 0 20px 0 0;
            p{
                font-size: 24px;
            }

            .user-item{
                display: flex;
                align-items: center;
                img{
                    margin: 0 10px 0 0 ;
                }
                p{
                    margin: 0;
                }
            }

        }
    }
}


.collection-container{

    background: #FFFCF2;


    .background{
        position: absolute;
        right: 0;
        bottom: -1px;
        width: 100%;
        z-index: -1;
    }
    .top-block{
        margin: 0 0 50px;
        padding: 0 80px;
        h2{
            font-size: 56px;
            font-weight: 800;
            margin: 0;
        }
        p{
            font-size: 18px;
        }
    }
    .collection-block{
        z-index: 2;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .collection-item{
            padding: 0 0 0 50px;

        }
        .img-item{
            img{
                width: 100%;
            }
        }
        ul{
           padding: 0;
            list-style: none;
            img{
                margin: 0 20px 0 0;


            }
            li{
                margin: 0 0 40px;
                display: flex;
                align-items: center;
              font-size: 20px;
            }
        }
    }
}

.collection-info-block{
    position: relative;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;


    }
    .shoes-item{
        position: absolute;
        left: 100px;
        top: 5px;
        max-width: 256px;
        border-radius: 10px;
        .img-item{
            position: relative;
            z-index: 2;
            width: 100%;
            height: 200px;
            img{

            }
        }
        .text{
            padding: 20px 0 0 ;
            position: relative;
            left: 25px;
            z-index: 1;

            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 64px;
            width: 100%;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);

            background: #ffffff;

        }
        p{
            padding: 0 0 0 15px;
            font-size: 14px;
            font-weight: 400;
            color: #0F172A;
            margin: 0;

            span{
                font-weight: bold;
            }



        }

    }
    .text-item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 96px;
        font-weight: bold;
        color: #FFFFFF;
        span{
            font-size: 56px;
            font-weight: bold;
        }

    }
}

.footer-container{
    padding: 0 80px;

   background: rgba(15, 23, 42, 1);
    .footer-block{
        display:flex ;
        padding: 50px 0;
    }

        ul{
            padding: 0;
            width: 80%;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li{

                width: 33%;
                font-size: 16px;
                color: #FFFFFF;
                span{
                    cursor: pointer;
                }
            }
        }
    .right-block{
        width: 20%;
        color: #FFFFFF;
        span{
            margin: 0 0 10px;
        }
        .follow-item{
            display: flex;
            flex-direction: column;
            .social-media{
                margin: 10px 0 0;
                display: flex;
                font-size: 16px;
                div{
                    margin: 0 10px 0 0;

                }
            }
        }
    }

    .copyright-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
       border-top: 1px solid  rgba(51, 65, 85, 1);
        padding: 30px 0 ;
        span{
            color: #FFFFFF;
            font-size: 16px;
        }
        div{
            display: flex;
            align-items: center;
            color: #FFFFFF;
            font-size: 16px;

            span{
                margin: 0 20px 0 0;
                cursor: pointer;

            }

        }

}

}





